<!DOCTYPE html>
<html>
  <head>
    <title>MLB Stats</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}"
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
<html>
   <H2>2018 MLB Season</H2>
   <H4>Batting Statistics</H4>
   <body>
      <table border = 1>
         {% for key, value in result.items() %}
            <tr>
               <th> {{ key }} </th>
               <td> {{ value }} </td>
            </tr>
         {% endfor %}
      </table>
      <p>Now enter another team and see some pitching stats:</p>
      <form action = "/pitching" method = "POST">
         <p>Team: <input type = "text" name = "Name" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      <br>
      {% for error in errors %}
        <h4>{{ error }}</h4>
      {% endfor %}
      <br>
      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
   </body>
</html>
